

}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
#text-limit{
  margin-left: auto;
    margin-right: auto;
    width: 8em
}
  p{
    font-family: 'georgia'; 
  }  
  
